/* UTILITYS*/
.mg-top{
	margin-top:10px;
}

.divisor{
	margin-top:80px;	
	width:100%;
	height:20px;
	background-color:#238B75;
}



/* PRESSAO arterial */
.btn-register-pressao{
	margin-left:20px;
	margin-top:5px;
}

section#list-register{
	padding-top:10px;
}

.title-list{
	font-size:1.3rem;	
	color:#535564;	
	font-weight:bold;

	
}