@import url("login.css");
@import url("profile.css");

/*side bar */
.sidebar{
	width:40%;
	max-width:100px;	
	height:100%;
	position:fixed;
	left:-800px;
	transition: left .4s;	
	top:0px;	
	z-index:1001;	
}
.sidebar .sidebar-header{
	background-color:white;
	height:80px;
	width:100%;	
	text-align:center;
}
.sidebar .nav{
	flex-direction: column;	
}
.sidebar .nav .nav-item{
	margin-top:30px;
	margin-left:10px;
	margin-right:10px;
	border-bottom:1px solid white;			
}
.sidebar .nav .nav-item:hover{
	background-color:#1CA082!important;	
	width:110px;
	z-index:110;	
	-webkit-box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	border:none;	
	margin-left:0!important;
 }
.sidebar .nav .nav-link{
	text-align:center;	
	margin:0px 10px;
}
.sidebar .nav .nav-link:hover{
	border:none;	
}
.sidebar .nav .nav-link i{
	font-size:35px;
	color:white;
}

.open-sidebar::after{
	content:"";
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index:1000;
}

.open-sidebar .sidebar{
	left:0;
}