@import url(dashboard.css);
@import url(footer.css);
@import url(profile.css);

body{
	margin:0;
	padding:0;		
	font-size:16px;
	font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	color:#535564;
}

section{
	padding:40px 0px 0px 0px;
}

section#info{
	padding:10px 0px;
}

/* TIPOGRAFY */
h1,h2,h3,h4 {	
	color:#238B75;
	font-weight:bold;	
}
p{
	margin:0;
	color:#535564;
}

.title{
	font-size:2rem;	
	color:white;
	margin-bottom:10px!important;
}

.sub-title{
	font-size:1.3rem;	
	color:#535564;	
	margin-bottom:25px!important;
	padding-left:10px;
}

.bg-header{
	padding:13px 15px;
	margin-bottom:10px;	
}

/*GERAL COLORS*/
.bg-blue{
	background-color:#31B998!important;
}
.bg-blue-b{
	background-color:#1CA082!important;
}

.red{
	color:#FF4B4B
}

.blue{
	color:#1CA082!important;
	font-weight:bold;
}

.cinza{
	color:#535564;
	font-weight:bold;
}


/*side bar */
.sidebar{
	width:50%;
	max-width:120px;	
	height:100%;
	position:fixed;
	left:-800px;
	transition: left .4s;	
	top:0px;	
	z-index:1001;	
}
.sidebar .sidebar-header{
	background-color:white;
	height:70px;
	width:100%;	
	text-align:center;
}
.sidebar .nav{
	flex-direction: column;	
}
.sidebar .nav .nav-item{
	margin-top:30px;
	margin-left:10px;
	margin-right:10px;
	border-bottom:1px solid white;			
}
.sidebar .nav .nav-item:hover{
	background-color:#1CA082!important;	
	width:120px;
	z-index:110;	
	-webkit-box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	border:none;	
	margin-left:0!important;
 }
.sidebar .nav .nav-link{
	text-align:center;	
	margin:0px 10px;
}
.sidebar .nav .nav-link:hover{
	border:none;	
}
.sidebar .nav .nav-link i{
	font-size:35px;
	color:white;
}

.open-sidebar::after{
	content:"";
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index:1000;
}

.open-sidebar .sidebar{
	left:0;
}

.header {
	width:100%;
	padding:0 10px;
	height:70px;
	background-color:#31B998!important;
	display:flex;
	justify-content:space-between;
	margin-bottom:10px;
}
.offcanvas{
	display:flex;
	align-items: center;
}
.offcanvas .item{
	font-size:2rem;
	color:white;
}


@media (max-width:500px){
	.container.content{
		padding:0px!important;
	}
}

@media (min-width:500px){
	nav{
		min-height: 100%;
	}
	.sidebar{
		position:inherit;
		float:left;		
		height:100vh;
	}
	.view-content{
		margin-left:119px;
		background-color:white;
	}

	.cover-bg{
		background-color:#238B75;;
	}
	header#top-header{
		display:none;
	}	
}