body{
	margin:0;
	padding:0;	
	font-family: 'Conv_Gesta W01 Regular', sans-serif!important;
	height:auto;
	font-size:16px;
}

main{
	background-image: url("../img/bg.jpg");
	background-repeat:no-repeat;		
 	background-position: center center;
    background-size: cover;     
    min-height: 100%;
    min-width: 100%;
    position: absolute;  
}

.cover-bg{
	background-color: rgba(0, 209, 172, 0.9);
	min-height: 100%;
    min-width: 100%;
    position: absolute; 
}

/* TIPOGRAFY */
h1,h2,h3,h4 {
	font-family: 'Conv_Gesta W01 Regular', sans-serif;
	color:#238B75;	
	font-weight:500;
}
p{
	margin:0;
}

/*GERAL COLORS*/
.bg-blue{
	background-color:#31B998!important;
}
.bg-light{
	background-color:#32B998;
}

.red{
	color:#FF4B4B
}

.blue{
	color:#1CA082!important;
}

.cinza{
	color:#535564;
	
}


/*PAGINA INICIAL*/
.logo-health{
	width:300px;
	margin:50px auto 50px;	
}

/*     //LOGIN FORM\\       */
.login{
	max-width:400px;
	margin:60px auto;
	background-color:white;
	padding:20px;
	border-radius:10px;
	-webkit-box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
	box-shadow: 7px 3px 22px -9px rgba(0,0,0,0.75);
}
.login p {
	color:#535564;
}

.login label{
	font-family: 'Conv_Gesta W01 Regular', sans-serif;
	font-size:15px;	
	color:#4F505B;
}
   input{
	border:2px solid #d4d4d4!important;
	border-radius:5px!important;
}
	input:focus{
	border:2px solid #7ECFBC!important;
}
	input::placeholder{
		/*color:#d4d4d4;*/
		font-weight: bold;
	}

.login .btn-login{	
	width:100%;
	font-size:17px;
	font-family: 'Conv_Gesta W01 Regular', sans-serif;
}

.login .btn-login:hover{
	background-color:#1CA082!important;
}

/*     //LOGIN FORM\\       */


/*     //REGISTER FORM\\       */
.mymodal{
	margin:-50px auto!important;
}
.btn-registrar{
	width:100%;
	margin:8px 0px;
}
.btn-cancel{
	background-color:#535564!important;
}
.radio-sexo{
	display:inline;
}

@media (max-width:500px){
	.slogan{
		font-size:25px;
		text-align:center;
	}
	.logo-health{
		margin: 20px auto 25px;
	}
	main{
		background:transparent;
	}
	.mymodal{
		position:absolute;
		top:-200px;
	}
}